@if(!number)
  <p> Please specify a number by passing <code>?number</code> to the url </p>
@elseif(number === randomNumber)
  <h2> Matched </h2>
@else
  <h2>Match failed. The actual number is {{ randomNumber }}</h2>
@endif